{{> top_nav}}
<h1>Api Docs</h1>
<div style="padding: 0 8px;">

    <table>
    <thead>
        <tr>
        <th>Method</th>
        <th>Route</th>
        <th>Description</th>
        <th>Input Scehma</th>
        <th>Middleware</th>
        <th>Output Schema</th>
        <th>File Name</th>
        </tr>
    </thead>
    <tbody>
        {{#each controllerConfigs as |config|}}
                <tr>
                    <td>{{config.method}}</td>
                    <td>{{config.route}}</td>
                    <td>{{config.description}}</td>
                    <td>{{config.celebrateString}}</td>
                    <td>{{config.middlewareString}}</td>
                    <td>{{config.outputSchemaString}}</td>
                    <td>{{config.filename}}</td>
                </tr>
            {{/each}}
    </tbody>
    </table>
</div>
